spring:
  application:
    name: movie-rating-service

  datasource:
    url: jdbc:postgresql://localhost:5432/movierating
    username: app
    password: app

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus